{% extends 'users/base.html' %}

{% block content %}

{% load static %}


<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-body-secondary">
                <div class="card-body">
                    <form  method="POST">
                        {% csrf_token %}
                        <div class="my-3">
                            <h3>Enter new password</h3>
                        </div>
                        <div class="my-3">
                            <p>Please enter yor new password twice so that we can verify you typed it corretly</p>
                        </div>
                        <div class="text-center">
                            {{form}}
                        </div>
                          <div class="container text-center my-3">
                            <button class="btn btn-primary  " type="submit" >Update password</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}