{% extends 'users/base.html' %}

{% block content %}

{% load static %}
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-body-secondary my-3 p-1">
                <div class="card-body">
                    <form  method="POST">
                        {% csrf_token %}
                        <div class="text-center">
                            <h3>Password Reset</h3>
                        </div>
                        <div class="text-center">
                            <p>Forgotten your password? Enter your email address you registered account with below, and we will email instructions for setting a new password</p>
                        </div>
                        <div class="text-center">
                            {{form}}
                        </div>
                        <div class="container text-center my-3">
                            <button class="btn btn-primary  " type="submit">Send email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}