{% extends 'base.html' %}

{% block title %} 
Teacher
{% endblock %} 

{% block content %}

<div class="container my-5">
    <div class="card p-3 table-responsive">
        <div>
            <h1 class="text-center">Applied Jobs</h1>
        </div>
        <table class="table table-bordered bg-body-secondary table-responsive">
            <thead>
                <tr class="bg-primary">
                    <th>Subject</th>
                    <th>School</th>
                    <th>County</th>
                    <th>Type of School</th>
                    <th>Status</th>
                    <th>Action</th>  
                    <th>Delete Application</th>
                </tr>
            </thead>
            <tbody>
                {% for applied_job in applied_jobs %}
                <tr>
                    <td>{{applied_job.newjob.subject}}</td>
                    <td>{{applied_job.newjob.school.user}}</td>
                    <td>{{applied_job.newjob.school.location}} County</td>
                    <td>{{applied_job.newjob.school.school_type }}</td>
                    <td>
                        {% if applied_job.status == 'Pending' %}
                        <div class="btn btn-primary btn-sm">Pending</div>
                        {% elif applied_job.status == 'Accepted' %}
                        <div class="btn btn-success btn-sm">Accepted</div>
                        {% elif applied_job.status == 'Rejected' %}
                        <div class="btn btn-danger btn-sm">Rejected</div>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'view_job' %}?id={{ applied_job.newjob.id }}">View Job</a></td>
                    <td class="text-center"><a href="{% url 'delete_application' %}?id={{ applied_job.id }}"><i class="bi bi-file-excel-fill"></i></a></td>
                </tr>

                {% endfor %}
               
            </tbody>
        </table>
    </div>
</div>


{% endblock %}