{% extends 'base.html' %}

{% block content %}

<!-- Updating the teacher's resume -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card my-3 pt-2 bg-body-secondary">
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <h3 class="text-center">Update Resume</h3>
                        </div>
                        <div class="my-3">
                            <input type="text" name="fname" id="firstname" placeholder="Enter your firstname"
                                class="form-control" value="{{ teacher.fname }}" required>
                        </div>
                        <div class="my-3">
                            <input type="text" name="lname" id="lastname" placeholder="Enter your lastname"
                                class="form-control" value="{{ teacher.lname }}" required>
                        </div>
                        <div class="my-3">
                            <label>Enter valid phone number e.g +254XXXXXXXXX</label>
                            <input type="tel" name="phonenumber" id="phonenumber" 
                                class="form-control" value="{{ teacher.phonenumber }}" pattern="\+254[0-9]{9}" value="+254" required>
                        </div>
                        <div class="my-3">
                            <select class="form-select mb-3"  name="subject" value="{{ teacher.subject }}" required>
                                <option value="" {% if not subject %}selected{% endif %}selected class="text-black">Select subject you teach</option>
                                <option value="Mathematics" {% if subject == "Mathematics" %} selected {% endif %}>Mathematics</option>
                                <option value="English" {% if subject == "English" %} selected {% endif %}>English</option>
                                <option value="Kiswahili" {% if subject == "Kiswahili" %} selected {% endif %}>Kiswahili</option>
                                <option value="Physics" {% if subject == "Physics" %} selected {% endif %}>Physics</option>
                                <option value="Chemistry" {% if subject == "Chemistry" %} selected {% endif %}>Chemistry</option>
                                <option value="Biology" {% if subject == "Biology" %} selected {% endif %}>Biology</option>
                                <option value="Geography" {% if subject == "Geography" %} selected {% endif %}>Geography</option>
                                <option value="History & government" {% if subject == "History & government" %} selected {% endif %}>History & government</option>
                                <option value="Christian Religion" {% if subject == "Christian Religion" %} selected {% endif %}>Christian Religion</option>
                                <option value="Islamic Religion" {% if subject == "Islamic Religion" %} selected {% endif %}>Islamic Religion</option>
                                <option value="Hindu Religion" {% if subject == "Hindu Religion" %} selected {% endif %}>Hindu Religion</option>
                                <option value="Computer Studies" {% if subject == "Computer Studies" %} selected {% endif %}>Computer Studies</option>
                                <option value="Agriculture" {% if subject == "Agriculture" %} selected {% endif %}>Agriculture</option>
                                <option value="Art & Design" {% if subject == "Art & Design" %} selected {% endif %}>Art & Design</option>
                                <option value="Home Science" {% if subject == "Home Science" %} selected {% endif %}>Home Science</option>
                                <option value="Business Studies" {% if subject == "Business Studies" %} selected {% endif %}>Business Studies</option>
                                <option value="Music" {% if subject == "Music" %} selected {% endif %}>Music</option>
                                <option value="French" {% if subject == "French" %} selected {% endif %}>French</option>
                                <option value="Germany" {% if subject == "Germany" %} selected {% endif %}>Germany</option>
                                <option value="Arabic" {% if subject == "Arabic" %} selected {% endif %}>Arabic</option>
                            </select>
                        </div>
                        <div class="my-3">
                            <select class="form-select mb-3" name="location" value="{{ teacher.location }}"required>
                                <option value="" {% if not location %}selected{% endif %}selected class="text-black">Select county you are from</option>
                                <option value="Mombasa" {% if location == "Mombasa" %} selected {% endif %}>Mombasa</option>
                                <option value="Kwale" {% if location == "Kwale" %} selected {% endif %}>Kwale</option>
                                <option value="Kilifi" {% if location == "Kilifi" %} selected {% endif %}>Kilifi</option>
                                <option value="Tana River" {% if location == "Tana River" %} selected {% endif %}>Tana River</option>
                                <option value="Garissa" {% if location == "Garissa" %} selected {% endif %}>Garissa</option>
                                <option value="Wajir" {% if location == "Wajir" %} selected {% endif %}>Wajir</option>
                                <option value="Mandera" {% if location == "Mandera" %} selected {% endif %}>Mandera</option>
                                <option value="Marsabit" {% if location == "Marsabit" %} selected {% endif %}>Marsabit</option>
                                <option value="Isiolo" {% if location == "Isiolo" %} selected {% endif %}>Isiolo</option>
                                <option value="Meru" {% if location == "Meru" %} selected {% endif %}>Meru</option>
                                <option value="Tharaka Nithi" {% if location == "Tharaka Nithi" %} selected {% endif %}>Tharaka Nithi</option>
                                <option value="Embu" {% if location == "Embu" %} selected {% endif %}>Embu</option>
                                <option value="Kitui" {% if location == "Kitui" %} selected {% endif %}>Kitui</option>
                                <option value="Machakos" {% if location == "Machakos" %} selected {% endif %}>Machakos</option>
                                <option value="Makueni" {% if location == "Makueni" %} selected {% endif %}>Makueni</option>
                                <option value="Nyandarua" {% if location == "Nyandarua" %} selected {% endif %}>Nyandarua</option>
                                <option value="Kirinyaga" {% if location == "Kirinyaga" %} selected {% endif %}>Kirinyaga</option>
                                <option value="Murang'a" {% if location == "Murang'a" %} selected {% endif %}>Murang'a</option>
                                <option value="Kiambu" {% if location == "Kiambu" %} selected {% endif %}>Kiambu</option>
                                <option value="Turkana" {% if location == "Turkana" %} selected {% endif %}>Turkana</option>
                                <option value="West Pokot" {% if location == "West Pokot" %} selected {% endif %}>West Pokot</option>
                                <option value="Samburu" {% if location == "Samburu" %} selected {% endif %}>Samburu</option>
                                <option value="Trans-Nzoia" {% if location == "Trans-Nzoia" %} selected {% endif %}>Trans-Nzoia</option>
                                <option value="Uasin-Gishu" {% if location == "Uasin-Gishu" %} selected {% endif %}>Uasin-Gishu</option>
                                <option value="Elgeiyo-Marakwet" {% if location == "Elgeiyo-Marakwet" %} selected {% endif %}>Elgeiyo-Marakwet</option>
                                <option value="Nandi" {% if location == "Nandi" %} selected {% endif %}>Nandi</option>
                                <option value="baringo" {% if location == "baringo" %} selected {% endif %}>baringo</option>
                                <option value="Laikipia" {% if location == "Laikipia" %} selected {% endif %}>Laikipia</option>
                                <option value="Nakuru" {% if location == "Nakuru" %} selected {% endif %}>Nakuru</option>
                                <option value="Narok" {% if location == "Narok" %} selected {% endif %}>Narok</option>
                                <option value="Kajiado" {% if location == "Kajiado" %} selected {% endif %}>Kajiado</option>
                                <option value="Kericho" {% if location == "Kericho" %} selected {% endif %}>Kericho</option>
                                <option value="Bomet" {% if location == "Bomet" %} selected {% endif %}>Bomet</option>
                                <option value="Kakamega" {% if location == "Kakamega" %} selected {% endif %}>Kakamega</option>
                                <option value="Vihiga" {% if location == "Vihiga" %} selected {% endif %}>Vihiga</option>
                                <option value="Bungoma" {% if location == "Bungoma" %} selected {% endif %}>Bungoma</option>
                                <option value="Busia" {% if location == "Busia" %} selected {% endif %}>Busia</option>
                                <option value="Siaya" {% if location == "Siaya" %} selected {% endif %}>Siaya</option>
                                <option value="Kisumu" {% if location == "Kisumu" %} selected {% endif %}>Kisumu</option>
                                <option value="Homa Bay" {% if location == "Homa Bay" %} selected {% endif %}>Homa Bay</option>
                                <option value="Migori" {% if location == "Migori" %} selected {% endif %}>Migori</option>
                                <option value="Kisii" {% if location == "Kisii" %} selected {% endif %}>Kisii</option>
                                <option value="Nyamira" {% if location == "Nyamira" %} selected {% endif %}>Nyamira</option>
                                <option value="Nairobi" {% if location == "Nairobi" %} selected {% endif %}>Nairobi</option>
                            </select>
                        </div>
                        <div class="my-3">
                            <input type="number" name="idnumber" id="idnumber" placeholder="Enter your id number"
                                class="form-control" pattern="[0-9]{8}" value="{{ teacher.idnumber }}" required>
                        </div>
                        <div class="my-3">
                            <input type="date" name="dob" id="dob" placeholder="Enter your date of birth"
                                class="form-control" value="{{ teacher.dob }}" required>
                        </div>
                        <div class="my-3">
                            <label for="resume">Upload Your Profile Picture</label>
                            <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
                        </div>
                        <div class="my-3">
                            <label for="resume">Upload Your Resume (CV)</label>
                            <input type="file" name="resume" id="resume" class="form-control" required>
                        </div>
                        <div class="my-3">
                            <textarea name="description" id="description" cols="30" rows="10" class="form-control"
                                placeholder="Give any other information about yourself">{{ teacher.description }}</textarea>
                        </div>
                        <div class="my-3">
                            <input type="radio" name="gender" id="gender-male" value="male"
                                {% if teacher.gender == 'male' %}checked{% endif %}>
                            <label for="gender-male">Male</label>
                        </div>
                        <div class="my-3">
                            <input type="radio" name="gender" id="gender-female" value="female"
                                {% if teacher.gender == 'female' %}checked{% endif %}>
                            <label for="gender-female">Female</label>
                        </div>
                        <div class="my-3">
                            <input type="radio" name="gender" id="gender-other" value="other"
                                {% if teacher.gender == 'other' %}checked{% endif %}>
                            <label for="gender-other">Other</label>
                        </div>

                        <div class="container text-center my-3">
                            <button class="btn btn-primary">Update Resume</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
