{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container">
    <div class="card my-5 p-3">
        <div>
            <h1 class="text-center"> All Applicants</h1>
        </div>
        <table class="table table-bordered bg-body-secondary">
            <thead>
                <tr class="bg-primary">
                    <th>Subject</th>
                    <th>Location</th>
                    <th>Salary</th>             
                    <th>No. of Applicants</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                <tr>
                    <td>{{ application.newjob__subject }} </td>
                    <td>{{ application.newjob__school__location}}</td>
                    <td>{{ application.newjob__salary }} </td>
                    <td>{{ application.count }} - Applicants <a href="{% url 'applicants_for_subject' subject=application.newjob__subject %}"> View all</a></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>

{% endblock %}