{% extends 'base.html' %}

{% block title %} 
school   
{% endblock %} 

{% block content %}

<div class="container ">
    <div class="card my-5 p-3 table-responsive" >
        <div>
            <h1 class="text-center">{{ subject }} Applicants </h1>
        </div>
        <table class="table table-bordered bg-body-secondary ">
            <thead>
                <tr class="bg-primary">
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Id number</th>
                    <th>Application Date</th>
                    <th>Action</th>
                    <th>Update Status</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                    <tr>
                        <td>{{ application.teacher.teacher.fname }} {{ application.teacher.teacher.lname }}</td>
                        <td>{{ application.teacher.teacher.phonenumber }}</td>
                        <td>{{ application.teacher.teacher.idnumber }}</td>
                        <td>{{ application.application_date }}</td>
                        <td><a href="{% url 'view_teacher' %}?teacher_id={{ application.teacher.teacher.user_id }}">View Teacher</a></td>
                        <!-- <td><a href="{{ application.teacher.teacher.resume.url }}">Download Resume</a></td> -->
                        <td>
                            <form action="#" method="POST">
                                <select class="form-select mb-1" name="application_status">
                                    <option value="" {% if not application_status %}selected{% endif %}selected class="text-black">Update Status</option>
                                    <option value="Pending" {% if application_status == "Pending" %} selected {% endif %}>Pending</option>
                                    <option value="Accepted" {% if application_status == "Accepted" %} selected {% endif %}>Accept</option>
                                    <option value="Rejected" {% if application_status == "Rejected" %} selected {% endif %}>Reject</option>
                                </select>
                                <div class="text-center">
                                    <button class="btn btn-primary btn-sm" type="submit">Update</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>

{% endblock %}